<div class="tab-pane fade" id="pills-from10" role="tabpanel" aria-labelledby="pills-home-tab">
    {% if up_10_boxes|length == 0 %}
        <p>Боксов нет.</p>
    {% elif up_10_boxes|length > 2 %}
        {# Выводим первые два бокса #}
        {% for box in up_10_boxes|slice:":2" %}
            {% include 'includes/box.html' %}
        {% endfor %}

        {# Выводим остальные боксы, начиная с третьего #}
            <div class="collapse" id="collapse-all">
                {% for box in up_10_boxes|slice:"2:" %}
                    {% include 'includes/box.html' %}
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn w-auto py-3 px-5 SelfStorage__bg_orange SelfStorage__btn2_orange text-white text-center fs_24 border-8" id="btn-collapse-all" data-bs-toggle="collapse" data-bs-target="#collapse-all" aria-expanded="false" aria-controls="collapse-all">Другие боксы</button>
                <script>
                    document.getElementById('btn-collapse-all').addEventListener('click', () => document.getElementById('btn-collapse-all').classList.add('d-none'))
                </script>
            </div>
    {% else %}
        {# Если всего два или меньше боксов, просто выводим их #}
        {% for box in up_10_boxes %}
            {% include 'includes/box.html' %}
        {% endfor %}
    {% endif %}
</div>